@import url(reser.css);

body{
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, sans-serif;
}

ol, ul {
	list-style: none;
}

header{
	background: #4e8598;
	color: #fff;
	text-transform: uppercase;

}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

.container{
	width: 940px;
	margin: 0 auto;
}

.container__logo{
	font-family: "Monotype Corsiva", Arial, Tahoma, sans-serif;
	font-size: 27px;
	color: #fff;
	text-align: center;
	padding-top: 50px;
	text-transform: none;
}



h1{
	
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	padding:190px 170px 0 170px;

}


.container__button{
	width: 216px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	padding-top: 30px;
	border: 1px solid #fff;
	border-radius: 50px;
	padding: 21px;
	text-align: center;
	margin: 0 auto;
}

.container__arrow{
	padding: 178px 0 57px 0;
	width: 35px;	
	margin: 0 auto;
}

.about__all{
	background: #fff;



}
.container__header{
	padding-top: 56px;
	padding-bottom: 56px;
}

.container__header_view{
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
}

.about-mission__whole-block_size{
	margin-right: 94px;
	line-height: 1.9;	
}

.about-revards__whole-block_size{
	margin-right: 0;
}


.about-mission__whole-block, .about-revards__whole-block{
	width: 412px;
	float: left;
}


.about-mission__header, .about-revards__header{
	text-align: left;
}

.about-mission__header_view, .about-revards__header_view{
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}


.about-mission__list-block{
	float: left;
	
}

.about-revards__inner-list{
	padding-left: 0;
}


.about-revards__inner-list-element{
	float: left;
	padding-right: 18px;
}
.about-revards__inner-list-element:nth-child(3){
	padding-right: 0px;
}

.about-revards__text_blue{
	color: #4e8598;
	font-size: 16px;
	font-weight: bold;
	
}

.about-revards__text_gray{
	color: #b0b2b3;
	font-size: 15px;
}






