@import url(reser.css);

body{
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, sans-serif;
}

ol, ul {
	list-style: none;
}

header{
	background: #4e8598;
	color: #fff;
	text-transform: uppercase;

}

.color-h2{
	color: #2f383b;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

.container{
	width: 940px;
	margin: 0 auto;
}

.container__logo{
	width: 123px;
	margin: 0 auto;
	padding-top: 52px;padding-top: 52px;

}



h1{
	
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	margin-top: 190px;

}


.container__button{
	width: 216px;
	padding-top: 30px;
	padding: 21px;
	margin: 0 auto;
	display: block;
}

.container__button_view{
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #fff;
	border-radius: 50px;
	text-align: center;
}

.container__button-link:link{
	color: #fff;
	text-decoration: none;
}


.container__arrow{
	padding: 178px 0 57px 0;
	width: 35px;	
	margin: 0 auto;
}

.about__all{
	background: #fff;



}
.container__header{
	padding-top: 56px;
	padding-bottom: 56px;
}

.container__header_view{
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
}

.about-mission, .about-revards{
	box-sizing: border-box;
}

.about-mission__whole-block_size{
	margin-right: 40px;
		
}

.about-mission__text{
	line-height: 1.9;
}

.about-revards__whole-block_size{
	margin-right: 0;
}


.about-mission, .about-revards{
	width: 450px;
	float: left;
}

.about-mission{
	padding: 0 10px;
}


.about-mission__header, .about-revards__header{
	text-align: left;
}

.about-mission__header_view, .about-revards__header_view{
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

.about-revards__header_pseudo:after{
	content: '';
	display: block;
	background: #4e8598;
	width: 72px;
	height: 3px;
	margin-top: 10px;
}


.about-mission__list-block{
	float: left;
	margin-top: 10px;
	height: 54px;
}

.about-revards__inner-list{
	padding-left: 0;
	float: left;
	box-sizing: border-box;
	margin-top: 0;
}


.about-revards__inner-list-element{
	float: left;
	padding-right: 18px;


}

.about-revards__img, .about-revards__text{
	float: left;
}

.about-revards__inner-list-element:nth-child(3){
	padding-right: 0px;
}


.about-revards__text{
	margin-top: 8px;
}



.about-revards__text_blue{
	color: #4e8598;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	
	
}

.about-revards__text_gray{
	color: #b0b2b3;
	font-size: 15px;
}

.about-revards__img{
	width: 38px;
	margin: 0 auto;
}
.about-revards__img_center-image{
	/*display: block;
	margin: 0 auto;*/
	text-align: center;
	
}

.requested{
	margin-top: 130px;

}

.requested-wrap{
	margin: 70px 0 0 0;
	padding: 0;
}

.requested-list-element{
	width: 210px;
	color: #2f383b;
	padding: 0 48px; 
	float: left;	
}

.requested-list-element:nth-child(3){
	padding: 0 0 0 27px; 
}

.requested-circle{
	width: 40px;
	text-align: center;
	padding: 30px;
	margin: 0 auto;

}

.requested-circle:hover{
	background: #2f383b;
	color: #fff;

}



.requested-circle_view{
	border: 1px solid #3b4447;
	border-radius: 50px;
	font-size: 30px;
	font-weight: bold;

}

.requested-text{
	margin-top: 18px;
}

.requested-text_view{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.requested__i-think{
	padding: 40px 0 0 0;
	margin-bottom: 0;
}

.requested__i-think_view{
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;

}


.requested__offer{
	width: 413px;
	padding: 30px 0 25px 0;
	margin: 0 auto;
}

.requested__offer_view{
	text-align: center;
	font-size: 14px;
}

.requested__button{
	margin-bottom: 75px;
}

.requested__button_view{
	background: #2f383b;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;

}

.contact-me-btn:link{
	color: #ffffff;
}

.footer-out{
	height: 112px;
	background: #2f383b;
}



/* .footer__rights_view, .footer__my-name_view, .footer__confidention_view{
	font-size: 13px;
	color: #b5b7b8;
	float: left;
} */

.footer-in{
	padding-top: 50px;
}

.footer__list-element{
	padding-right: 209px;
	float: left;
}

.footer__list-element:nth-child(3){
	padding-right: 0;
	/* float: right; */
}

.footer__list-element_view{
	font-size: 13px;
	color: #b5b7b8;
}


.footer__link:link{
	color: #b5b7b8;
	text-decoration: none;
}

.footer__link:visited{
	color: #b5b7b8;
	text-decoration: none;
}

.footer__link:hover{
	color: #f0f1f1;
	text-decoration: none;
	border-bottom: 1px dotted #f0f1f1;
}







